.projects-container {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
    padding: 20px;
}

.projects-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.projects-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.project-item {
    background-color: #f9f9f9;
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project-item:hover {
    transform: translateY(-5px);
}

.project-item img,
.project-item video {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    border-radius: 5px;
}

.project-item h3 {
    margin-bottom: 10px;
}

.project-item p {
    font-size: 0.9em;
    color: #666;
}