/* Certification.css */

.certification-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
  }
  
  .certification-header {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .certification-form {
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 12px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .certification-input,
  .certification-file-input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .certification-submit-button {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
  }
  
  .certification-submit-button:hover {
    background-color: #218838;
  }
  
  .certification-no-data {
    font-size: 18px;
    color: #666;
    text-align: center;
  }
  
  .certification-toggle-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin-bottom: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .certification-toggle-button:hover {
    background-color: #0056b3;
  }
  