.client-container {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, sans-serif;
}

.client-header {
    text-align: center;
    margin-top: 20px;
}

.company-details-section {
    margin-top: 30px;
}

.company-details-section h2 {
    margin-bottom: 10px;
}

.company-details p {
    margin: 5px 0;
    font-size: 1em;
}

.available-jobs-section {
    margin-top: 30px;
}

.jobs-list {
    list-style-type: none;
    padding: 0;
}

.jobs-list li {
    background-color: #f4f4f4;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
