.menu{
    display: flex;
    flex-direction: column;
    gap: 2.3rem;
    height: 94vh;
}
.sidebarLogo {
    text-align: center;
    padding: 20px;
    /* color: #27374d; */
    color: #ffffff;
    align-items: center;
    display: flex;
    gap: 20px;
}

.logo-icon{
    font-size: 1.4rem;
}

.menu--list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.menu--list .item{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 1.1rem;
    text-decoration: none;
    font-weight: 600;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
    color: #ffffff;
    /* color: #ffffff; */
}

.menu--list .item:hover, .activ{
    /* background: #27374d;
    color: #dde6ed !important; */
    background: #ffffff;
    color: #0c055c !important;
}