/* CertificateCard.css */

.certificate-card {
  background-color: #e8e9eb;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: all 0.3s ease;
  margin-top: 2rem;
  width: 100%; /* Adjusted to fit the container */
}

.certificate-card:hover {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
  transform: translateY(-2px);
}

.card-content {
  display: flex;
  flex-direction: column;
}

.card-icon {
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.icon {
  color: #3182ce;
}

.card-info {
  flex-grow: 1;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
  color: black;
  margin-bottom: 0.5rem;
}

.card-detail {
  color: black;
  margin-bottom: 0.25rem;
}

.label {
  font-weight: 500;
}

.card-description {
  margin-top: 1rem;
}

.description-toggle {
  display: flex;
  align-items: center;
  color: #2832f4;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1rem;
  transition: all 0.2s ease;
}

.description-toggle:hover {
  color: #2949ff;
  transform: translateY(-1px);
}

.toggle-icon {
  margin-left: 0.25rem;
}

.description-text {
  color: black;
  margin-top: 0.5rem;
}

.card-actions {
  display: flex;
  justify-content: flex-end;
}

.delete-button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.delete-icon {
  color: red;
}

