.landing-body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}

.login-body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./components/Login/components/LoginSignup/bg10.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.signup-choice-body{
height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: #fff;
    background: url('./components/Login/components/SignupChoice/bg10.jpg') no-repeat center center fixed;
    background-size: cover;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
 .signup-html{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    color: #fff;
    background: url('./components/Login/components/SignupChoice/bg10.jpg') no-repeat center center fixed;
    background-size: cover;
    text-decoration: none;
}

.freelancer-signup-body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('./components/Login/components/Freelancer-Signup/bg10.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}
.hirer-signup-body {
  font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('./components/Login/components/Freelancer-Signup/bg10.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.posting-form-body{
  background-image: url('./components/Login/components/Freelancer-Signup/bg10.jpg'); 
    /* Add your background image URL */
    /* background-color: #4a90e2; */
    background-size: cover;
    background-position: center;
    margin: 0;
    font-family: Arial, sans-serif;
}

.user-profile-body {
  background: #dde6ed;
  background-image: url(./components/Login/components/Freelancer-Signup/bg10.jpg);
  /* background: #0c055c; */
  padding: 20px;
}



