.uploaded-image {
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
    width: 40%;
    border-radius: 40px;
}

.job-posting-form-container {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translateY(-50%);
    width: 40%;
    height: auto;
    /* Allow the height to adjust based on the content */
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Adjust content spacing */
}

.form-button-container {
    margin-top: 20px;
    /* Add some space above the buttons */
    padding-top: 0;
    /* Remove the additional padding */
}

.form-title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.form-label {
    display: block;
    margin-bottom: 10px;
    color: #555;
}

.form-input,
.form-select,
.form-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 1rem;
}

.form-input:focus,
.form-select:focus,
.form-textarea:focus {
    border-color: #4a90e2;
    outline: none;
    box-shadow: 0px 0px 5px rgba(74, 144, 226, 0.5);
}

/* Flex container for the buttons */
.form-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
    /* Push buttons to the bottom */
    padding-top: 20px;
    /* Add some space above the buttons */
    /* Ensure buttons container is at the bottom */
}

.form-next-button,
.form-prev-button,
.form-submit-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #4a90e2;
    color: white;
    transition: background-color 0.3s ease;
    width: 48%;
}

.form-next-button:hover,
.form-prev-button:hover,
.form-submit-button:hover {
    background-color: #357ABD;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}