.App {
    text-align: center;
    position: relative;
      overflow: hidden;
      min-height: 100vh;
  }
  
  .app-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4;
  }
  
  .app-content {
    position: relative;
    z-index: 1;
  }
  
  .cta-button {
    background-color: #007BFF;
    color: white;
    border: none;
      padding: 10px 20px;
      cursor: pointer;
      font-size: 1.2rem;
      border-radius: 5px;
  }
  
  .cta-button:hover {
    background-color: #0056b3;
  }