body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
}
.App {
  text-align: center;
}

.cta-button {
  background-color: #007BFF;
  color: white;
  border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2rem;
    border-radius: 5px;
}

.cta-button:hover {
  background-color: #0056b3;
}